body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("back5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 100%;
}

.logo h2 {
    font-size: 23px;
    margin-left: 50px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding: 10px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: red;
}

.bas {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    margin-right: 170px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: right;
    margin-bottom: 100px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

h1, h3 {
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.custom-button {
    background-color: #ff5555;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.custom-button:hover {
    background-color: #ff3333;
}

@media (max-width: 760px) {
    .head {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .logo h2 {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .nav-links a {
        margin: 10px 0;
    }

    .bas {
        height: auto;
        padding: 20px;
    }

    .main {
        margin-bottom: 50px;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }
}

